.content_main{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom:0px;
	left:0px;
	padding-bottom: 20px;
	background-color: #fff;
	height: 90%;
}
.floatLeft{
	float: left;
	height: 100%;
}
.menuBox{
	position: relative;
	width: 14%;
	background-color: #fff;
	overflow: hidden;
}
.mind_box{
	width: 70%;
	margin: 0 1%;
}
.subTitle{
	position: absolute;
	top: 75px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.subTitle ul{
	height: 100%;
}
/* 综合业务平台 */
.bigTitle{
	margin-bottom: 10px;
	padding-left: 15%;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #333;
	background-color: #ecf4ff;
	border-left: 3px solid #2785d4;
	box-sizing: border-box;
}
.subTitle ul{
	width: 100%;
}
.subTitle ul li{
	padding-left: 15%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #666;
}
.subTitle ul li:hover{
	background: #ecf4ff
}
.subTitle ul li img{
	position: relative;
	top: 9px;
	width: 17px;
	height: 16px;
}
.subTitle ul li span{
	display: inline-block;
	margin-left: 5px;
	height: 35px;
	line-height: 35px;
	font-size:14px;
}
/* 内容�?*/
.mind_box{
	position: relative;
	padding-top: 90px;
	box-sizing: border-box;
}
.totalList{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 90px;
	background-color: #fff;
}
.totalList .item{
	padding-left: 1%;
    padding-top: 15px;
    width: 19%; 
}
.totalList .item img{
	float: left;
	margin-right: 10px;
	width: 60px;
	height: 60px;
}
.totalList .item p{
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #666;
}
.totalList .item p span{
	margin-right: 5px;
	font-size: 20px;
	color: #ff4f51;
}
/* 图表�?*/
.charts{
	width: 100%;
	height: 100%;
	margin-top: 30px;
}
.floatCharts{
	float: left;
	width: 27%;
	height: 100%;
}
.floatCharts .chart{
	margin-top: 10px;
	width: 100%;
	height: calc(50% - 10px);
	background: #fff!important;
	box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
}
.map{
	float: left;
	margin: 10px 1% 0 1%;
	width: 44%;
	height: calc(100% - 10px);
}
#chart2{
	padding: 5px 15px;
	box-sizing: border-box;
}
#chart2 .chartTitle{
	height: 10%;
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	margin: 5px 0;
}
#chart2 .count{
	float: left;
	padding: 0 4%;
	width: 50%;
	height: 45%;
	box-sizing: border-box;
}
.count1{
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}
.count4{
	border-top: 1px solid #f8f8f8;
	border-left: 1px solid #f8f8f8;
}
#chart2 .count p{
	width: 100%;
	height: 30%;
	font-size: 14px;
	color: #999;
	text-align: center;
	vertical-align:middle;
}
#chart2 .count span{
	font-size: 22px;
}
#chart2 .count .red{
	color: #ff4e50;
}
#chart2 .count .blue{
	color: #06a1e6;
}
#chart2 .count .green{
	color: #2ec9a1;
}
#chart2 .count .orange{
	color: #ff773b;
}
.map{
	background-color: #fff!important;
	box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
}
/* 地图提示�?*/
.tooltip_box{
	width: 80px;
	height: 50px;
	background-image: url(../images/tooltip.png);
	background-size: 100% 100%;
}
.tooltip_box ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 2px;
	list-style: none;
}
.tooltip_box ul li{
	width: 50%;
	float: left;
	height: 20px;
	line-height: 20px;
	color: #666;
	font-size: 12px;
}
.tooltip_box ul li img{
	margin-top: 4px;
	margin-left: 5px;
}
.tooltip_box ul li font{
	float: right;
	margin-right: 5px;
}
@media screen and (min-width: 1600px) { 
	.subTitle ul li span{
	 	font-size: 16px;
	}
	#chart2 .count p,.totalList .item p{
		font-size: 18px;
	}
	#chart2 .count span,.totalList .item p span{
		font-size: 24px;
	}
}
